:root {
  --color-primary: #30333c;
  /* --color-primary: #26252b; */
  --color-background: #fffefa;

  --size-columnPaddingTiny: 2px;
  --size-columnPaddingSmall: 10px;
  --size-columnPaddingMedium: 2vw;
  --size-columnPaddingLarge: 4vw;

  --size-pageRight: 4vw;

  --size-menu-margin-fix: 5px;
  --size-grid-height: 30vh;

  --font-small: 1.5vw;
  --font-small-max: 0.7em;
  --font-normal: 2vw;
  --font-normal-max: 2em;
  --font-large: 3.75vw;
  --font-large-max: 2em;

  --size-border: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}
main {
  display: grid;
  grid-template-columns: auto;
  /*grid-template-columns: 30vw auto;*/
  margin: 0;
  padding: 0;
  margin-left: var(--size-columnPaddingLarge);
  margin-bottom: var(--size-columnPaddingLarge);
  margin-top: var(--size-columnPaddingLarge);
  margin-right: calc(var(--size-columnPaddingLarge) - var(--size-columnPaddingMedium));
}
menu {
  font-size: var(--font-normal);
  margin: 0;
  margin-right: var(--size-columnPaddingLarge);
  height: 100%;
  display: none;
}
nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  margin-top: var(--size-columnPaddingSmall);
  text-align: right;
  display: block;
  float: right;
  clear: both;
}
header {
  transform: scale(1, 1.2);
  font-family: 'Quicksand';
  font-size: var(--font-large);
  color: var(--color-primary);
  text-align: right;
  font-weight: 400;
}
.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin-bottom: var(--size-columnPaddingSmall);
}
p {
  padding: 0;
  margin-bottom: var(--size-columnPaddingTiny);
  float: left;
}
.content {
}
.explain-text {
  font-size: var(--font-normal);
  margin-bottom: var(--size-columnPaddingMedium);
}
.descript-text {
  margin-top: var(--size-columnPaddingMedium);
}

.marginTopSmall {
  margin-top: var(--size-columnPaddingSmall);
}
.marginTopMedium {
  margin-top: var(--size-columnPaddingMedium);
}
.marginTopLarge {
  margin-top: var(--size-columnPaddingLarge);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

#gallery {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: var(--size-menu-margin-fix);
}
#gallery > .image-container {
  position: relative;
  display: block;
  height: var(--size-grid-height);
  margin-right: var(--size-columnPaddingMedium);
  margin-bottom: var(--size-columnPaddingMedium);
  flex-grow: 1; 
}
.image-container {
  /*width: 40%;*/
  max-width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: var(--size-grid-height);
  vertical-align: bottom;
  border-radius: var(--size-border);
  background-color: #000;
}
.image-container:hover {
  cursor: zoom-in;
}
.image-container:hover .image-overlay {
  display: block;
}
.image-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--size-border);
  vertical-align: bottom;
}
.image-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--size-columnPaddingLarge);
  color: var(--color-background);
  font-size: var(--font-small);
}
.image-desc a {
  color: var(--color-background);
  text-decoration: underline;
}

 
/* CLIENTS */
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--size-columnPaddingLarge) calc(-1 * var(--size-columnPaddingMedium)) 0 calc(-1 * var(--size-columnPaddingMedium));
  clear: both;
}
.logo {
  height: 10vw;
  width: 10vw;
  margin: 0 var(--size-columnPaddingMedium) var(--size-columnPaddingMedium) 0;
  object-fit: contain;
}

/* CONTACT */
.contact {
  clear: both;
  padding-top: var(--size-columnPaddingLarge);
  display: block;
}
.contact textarea {
  display: block;
  width: 100%;
  border-radius: var(--size-border);
  border-color: var(--color-primary);
  background-color: var(--color-background);
  padding: var(--size-columnPaddingMedium);
  height: 20vh;
}
.contact textarea:focus, input:focus{
  outline: none;
}
.contact input {
  display: block;
  background-color: var(--color-background);
  padding: var(--size-columnPaddingMedium);
  margin-top: var(--size-columnPaddingMedium);
  border-radius: var(--size-border);
  border-color: var(--color-primary);
  width: 20vw;
}

/* ABOUT */
.about {
  padding-top: var(--size-columnPaddingLarge);
}
.about-image {
  width: 50%;
  border-radius: var(--size-border);
  float: left;
  cursor: zoom-in;
}
.about-desc {
  font-size: var(--font-small);
}

.text-normal {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: var(--font-normal);
}

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  cursor: zoom-out;
  font-size: 0;
}
.lightbox-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-height: 100vh;
  max-width: 100vw;
  vertical-align: middle;
  cursor: zoom-out;
}
.lightbox-img {
  max-height: 80vh;
  max-width: 100vw;
}
.lightbox-desc {
  background-color: #000;
  font-size: 20px;
  color: var(--color-background);
  padding: var(--size-columnPaddingMedium);
}