:root {
  --color-primary: #333;
  --color-secondary: #888;
  --color-tertiary: #CCC;
  --color-background: #fff;

  --size-columnPaddingMedium: 2vw; /* Asscoaited elements */
  --size-columnPaddingLarge: 4vw; /* Seperate elements */

  --size-item-margin: 10px;
  --size-grid-height: 35vh;

  --font-small: 2vw;
  --font-small-min: 1em;
  --font-small-max: 1.6em;
  
  --font-normal: 2.5vw;
  --font-normal-min: 1.25em;
  --font-normal-max: 2em;

  --font-large: 4vw;
  --font-large-min: 2em;
  --font-large-max: 3.2em;
}

main {
  display: grid;
  grid-template-columns: 33vw auto;
  grid-gap: var(--size-columnPaddingMedium);
  margin-bottom: var(--size-columnPaddingLarge);
}
nav {
  font-size: var(--font-large);
  color: var(--color-primary);
  padding: var(--size-columnPaddingLarge);
}

.flexbin {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.flexbin > * {
  position: relative;
  display: block;
  height: var(--size-grid-height);
  margin: var(--size-item-margin);
  flex-grow: 1; 
}
.flexbin > img {
  height: var(--size-grid-height);
  object-fit: cover;
  vertical-align: bottom;
  border-radius: var(--size-radius);
}
.flexbin > img:hover {
  cursor: zoom-in;
}
.flexbin.flexbin-margin {
  margin: var(--size-item-margin);
  margin-top: var(--size-columnPaddingLarge);
}