:root {
  --color-primary: #30333c;
  /* --color-primary: #26252b; */
  --color-background: #fffefa;

  --size-columnPaddingTiny: 2px;
  --size-columnPaddingSmall: 10px;
  --size-columnPaddingMedium: 20px;
  --size-columnPaddingLarge: 4vw;

  --size-pageRight: 4vw;

  --size-menu-margin-fix: 5px;
  --size-grid-height: 30vh;

  --font-normal: 2vw;
  --font-normal-max: 2em;
  --font-large: 3vw;
  --font-large-max: 2em;

  --size-border: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}
main {
  display: grid;
  grid-template-columns: 25vw auto;
  margin: 0;
  padding: 0;
  margin-left: var(--size-columnPaddingLarge);
  margin-bottom: var(--size-columnPaddingLarge);
  margin-top: var(--size-columnPaddingLarge);
  margin-right: calc(var(--size-columnPaddingLarge) - var(--size-columnPaddingMedium));
}
menu {
  font-size: var(--font-normal);
  margin: 0;
  margin-right: var(--size-columnPaddingLarge);
  height: 100%;
}
nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  margin-top: var(--size-columnPaddingLarge);
  text-align: right;
  display: block;
  float: right;
  clear: both;
}
header {
  transform: scale(1, 1.2);
  font-family: 'Quicksand';
  font-size: var(--font-large);
  color: var(--color-primary);
  text-align: right;
}
.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin-bottom: var(--size-columnPaddingSmall);
}
p {
  padding: 0;
  margin-bottom: var(--size-columnPaddingTiny);
}
.content {
}
.explain-text {
  font-size: var(--font-normal);
  margin-bottom: var(--size-columnPaddingMedium);
}
.descript-text {
  margin-top: var(--size-columnPaddingMedium);
}


a {
  text-decoration: none;
  color: var(--color-primary);
}
a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.flexbin {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: var(--size-menu-margin-fix);
}
.flexbin > * {
  position: relative;
  display: block;
  height: var(--size-grid-height);
  margin-right: var(--size-columnPaddingMedium);
  margin-bottom: var(--size-columnPaddingMedium);
  flex-grow: 1; 
}
.flexbin > img {
  height: var(--size-grid-height);
  object-fit: cover;
  vertical-align: bottom;
  border-radius: var(--size-border);
}
.flexbin > img:hover {
  cursor: zoom-in;
}
 
/* CLIENTS */
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--size-columnPaddingLarge) calc(-1 * var(--size-columnPaddingMedium)) 0 calc(-1 * var(--size-columnPaddingMedium));
  clear: both;
}
.logo {
  height: 10vw;
  width: 15vw;
  margin: 0 var(--size-columnPaddingMedium) var(--size-columnPaddingMedium) 0;
  object-fit: contain;
}

/* CONTACT */
.contact {
  clear: both;
  padding-top: var(--size-columnPaddingLarge);
  display: block;
}
.contact textarea {
  display: block;
  width: 100%;
  border-radius: var(--size-border);
  border-color: var(--color-primary);
  background-color: var(--color-background);
  padding: var(--size-columnPaddingMedium);
  height: 20vh;
}
.contact textarea:focus, input:focus{
  outline: none;
}
.contact input {
  display: block;
  background-color: var(--color-background);
  padding: var(--size-columnPaddingMedium);
  margin-top: var(--size-columnPaddingMedium);
  border-radius: var(--size-border);
  border-color: var(--color-primary);
  width: 20vw;
}

/* ABOUT */
.about {
  padding-top: var(--size-columnPaddingLarge);
}
.about-image {
  width: 50%;
  border-radius: var(--size-border);
  float: left;
  cursor: zoom-in;
}
.about-text {
  float: left;
  padding-left: var(--size-columnPaddingMedium);
}

.text-normal {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: var(--font-normal);
}

/* SMALL SCREEN */
@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: auto;
    text-align: left;
    margin-right: var(--size-columnPaddingLarge);
  }
  menu {
    font-size: var(--font-normal-max);
    margin-bottom: var(--size-columnPaddingLarge);
    margin-right: 0;
}
  nav {
    text-align: left;
    float: left;
    margin-bottom: var(--size-columnPaddingLarge);
  }
  header {
    font-size: var(--font-large-max);
    text-align: left;
    margin-bottom: var(--size-columnPaddingLarge);
  }
  .flexbin {
    padding-top: 0;
  }
  .flexbin > * {
    margin-right: 0;
  }

  .logo {
    height: 15vw;
    width: 25vw;
  }
  .clients .logo:nth-child(3){
    margin-right: 0px;
  }
  .clients .logo:nth-child(6){
    margin-right: 0px;
  }
  .clients .logo:nth-child(9){
    margin-right: 0px;
  }

  .about-image {
    width: 100%;
  }
  .about-text {
    width: 100%;
    padding-top: var(--size-columnPaddingMedium);
    padding-left: 0;
  }
  .text-normal {
    font-size: var(--font-normal-max);
  }

  .contact {
    padding-bottom: var(--size-columnPaddingLarge);
  }
  .contact input {
    width: 100%;
  }
}